{% extends "base.html" %}

{%- block page -%}
        {%- block header %}
        {% include "header.html" %}
        {% endblock -%}

        {%- block content %}
        {% endblock -%}

        {%- block footer %}
            {% include "footer.html" %}
        {% endblock -%}
{%- endblock -%}

{%- block scripts %}
    {% asset 'base/main' %}
    {% asset 'base/ckan' %}
    {% asset 'gobar_js/libs' %}
    {% asset 'gobar_js/console_message' %}
    {% asset 'gobar_js/replace_svg' %}
    {% asset 'gobar_js/forms' %}
    {% asset 'gobar_js/header' %}
    {{ super() }}
{% endblock -%}