<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

<nav id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-4 no_padding">
                <div id="logo-sitio">
                    <a href="{{ h.url_for('home.index') }}" style="text-decoration: none;">
                        <div id="ba-logo" class="navbar-brand img-responsive text-center" data-original-title="" title=""></div>
                    </a>
                </div>
                <div class="h4-nunito-semibold-—-21-px" style="margin-top: 25px;">
                    <a href="{{ h.url_for('home.index') }}" style="color: var(--grisulado-90-texto-primario);">BA Data</a>
                </div>
            </div>

            <div class="col-sm-9 col-xs-8">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav"
                                style="background-color: transparent !important; border: 1px solid black!important; border-radius: 4px!important; margin-right: 0; margin-top: 8px; padding: 9px 10px !important; ">
                                <span class="sr-only">Cambiar navegación</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="main-nav">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ h.url_for(controller='dataset', action='search') }}">Datasets</a></li>
                                <li><a href="{{ h.url_for(controller='organization', action='index') }}">Organizaciones</a></li>
                                <li><a href="{{ h.url_for(controller='group', action='index') }}">Grupos</a></li>
                                <li><a href="https://www.buenosaires.gob.ar/datosabiertos/historias">Historias</a></li>
                                <li><a href="https://www.buenosaires.gob.ar/datosabiertos/apis">APIs</a></li>
                                {% if c.userobj %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user"></i>
                                        {{ c.userobj.name }}                                      
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a href="{{ h.url_for('user.read', id=c.userobj.name) }}">Mi cuenta</a></li>
                                        <li><a href="{{ h.url_for('user.edit', id=c.userobj.name) }}">Configuración</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ h.url_for('/user/_logout') }}">Salir</a></li>
                                    </ul>
                                </li>
                                {%- else -%}
                                <li>
                                    <a href="{{ h.url_for('/user/login/oidc-pkce') }}">
                                        <i class="fas fa-user"></i>
                                        Ingresar
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                       
                    </div>
                </nav>
            </div>
        </div>
    </div>
</nav>