{% extends h.get_andino_base_page() %}


{% block page %}

    <div class="container-fluid" id="template-config-container">
        <div class="restricted-max-width ">
            <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1 about-template-container" style="padding: 0 60px;">

                <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

                <h1 class="about-template">Marco Legal</h1>
                <label class="about-template">En esta sección te contamos la legislación de la Ciudad que establece la apertura de datos y un glosario con términos asociados a datos abiertos.</label>

                <h2 class="about-components">Normativa</h2>

                <div class="about-components">
                    <h3>Creación de BA Data</h3>
                    <p>A través del <a href="https://boletinoficial.buenosaires.gob.ar/normativaba/norma/190097" target="blank">Decreto 156/2012</a> se implementó data.buenosaires.gob.ar como plataforma para facilitar la búsqueda, descubrimiento y acceso de los datos abiertos de la Ciudad.</p>
                </div>

                <div class="about-components">
                    <h3>Apertura por defecto</h3>
                    <p>El <a href="https://boletinoficial.buenosaires.gob.ar/normativaba/norma/234859" target="blank">Decreto 478/2013</a> estableció que todos los datos producidos por el Gobierno de la Ciudad son públicos por defecto a menos que una normativa establezca lo contrario.</p>
                </div>

                <div class="about-components">
                    <h3> Acceso a la Información Pública</h3>
                    <p>La <a href="https://boletinoficial.buenosaires.gob.ar/normativaba/norma/982" target="blank">Ley 104</a> garantiza el cumplimiento del derecho de Acceso a la Información Pública en el ámbito de la Ciudad de Buenos Aires.</p>
                </div>

                <div class="about-components">
                    <h3>Ley de Datos Personales</h3>
                    <p>La <a href="http://www2.cedom.gob.ar/es/legislacion/normas/leyes/ley1845.html" target="blank">Ley 1845</a> regula el tratamiento de datos personales referidos a personas físicas o de existencia ideal en el ámbito de la Ciudad de Buenos Aires.</p>
                </div>
                
                <h2 class="about-components">Glosario</h2>

                 <div class="about-components">

                    <h3>Dato</h3>
                    <p>Elemento descontextualizado que puede dar origen a la generación de información. Son símbolos que describen hechos, condiciones, valores o situaciones. Un dato puede ser una letra, un número o cualquier símbolo que representa una cantidad, una medida, una palabra o una descripción.</p>
                </div>

                <div class="about-components">
                    <h3>Dato Personal</h3>
                    <p>Información de cualquier tipo referida a personas físicas o de existencia ideal, determinada o determinable.</p>
                </div>

                <div class="about-components">
                    <h3>Dato Sensible</h3>
                    <p>Datos personales que revelan origen racial o étnico, opiniones políticas, convicciones religiosas o morales, afiliación sindical, información referente a la salud o a la vida sexual o cualquier otro dato que pueda producir por su naturaleza o su contexto, algún trato discriminatorio al titular de los datos.</p>
                </div>

                <div class="about-components">
                    <h3>Dato Público</h3>
                    <p>Es cualquier dato generado en el ámbito gubernamental, o bajo su guarda que no tiene su acceso restringido por ninguna legislación específica.</p>
                </div>

                <div class="about-components">
                    <h3>Dato Abierto</h3>
                    <p>Datos que se pueden acceder, usar y compartir libremente. Deben atribuirse y compartirse con la misma licencia con la que fueron publicados. Son, a su vez, datos públicos disponibilizados en un medio digital, bajo una licencia abierta y usando para ello un formato estándar abierto.</p>
                </div>

                <div class="about-components">
                    <h3>Conjunto de datos</h3>
                    <p>También se los conoce como <i>datasets</i>. Son la pieza principal en todo el catálogo de datos. Éstos agrupan uno o más recursos de datos y son el eje sobre el que se documentan los metadatos de la información.</p>
                </div>

                <div class="about-components">
                    <h3>Recurso</h3>
                    <p>Los recursos son la pieza de información más pequeña del catálogo y son los verdaderos activos de datos del portal.</p>
                </div>

                <div class="about-components">
                    <h3>Información</h3>
                    <p>Es un dato dotado de relevancia y utilidad. Para obtener información es necesario aplicar algún tipo de transformación o procesamiento sobre los datos. Convertir datos en información es un proceso que genera valor, aporta relevancia o genera un nuevo conocimiento.</p>
                </div>

                <div class="about-components">
                    <h3>Licencia Abierta</h3>
                    <p>Los datos abiertos necesitan estar abiertos técnica y legalmente. Para tal fin, se les aplica una licencia que establece su libre uso, ya que los datos en poder del sector público no deben estar sujetos a restricciones de patentes.</p>
                </div>

                <div class="about-components">
                    <h3>Metadatos</h3>
                    <p>Los metadatos son datos sobre los datos. Describen cómo un dato es representado, cuáles son los rangos de valores aceptables, su relación con otros datos y cómo deben ser etiquetados. También proporcionan información pertinente, como el administrador responsable, leyes y reglamentos asociados, y la política de gestión de acceso.</p>
                </div>

                <div class="about-components">
                    <h3>API</h3>
                    <p><i>Application Programming Interface</i> es el punto de entrada donde un sistema recibe peticiones para ejecutar una tarea previamente programada. Es un modo establecido que facilita la consulta y el acceso a datos a través de un método específico.</p>
                </div>




            </div>
        </div>
    </div>

    {% resource 'gobar_js/config/file_upload.js' %}
    {% resource 'gobar_js/config/radio_buttons.js' %}

{% endblock %}

