{% extends h.get_andino_base_page() %}


{% block page %}

    <div class="container-fluid" id="template-config-container">
        <div class="restricted-max-width ">
            <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1 about-template-container" style="padding: 0 60px;">

                <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

                <h1>Recursos</h1>
                <label>En el marco de la implementación de la estrategia de datos abiertos, elaboramos diferentes recursos para mejorar su gestión y favorecer el intercambio y el desarrollo de nuevas capacidades a partir del uso de datos.</label>

                <h3>Guías</h3>
                <ul>
                    <li><a href="https://datosgcba.github.io/guia-datos/guia-abiertos/" target="blank"><strong>Guía para la publicación de datos abiertos:</strong></a>
                   Conjunto de recomendaciones y buenas prácticas para la publicación de datos en formato abierto.</li>
                    <p></p>
                    <li><a href="https://datosgcba.github.io/guia-datos/guia-interoperables/" target="blank"><strong>Guía para la identificación y uso de entidades interoperables:</strong></a>
                    Lineamientos y estándares para nombrar entidades en activos de datos, usando sus nombres y códigos oficiales.</li>
                    <p></p>
                    <li><a href="https://datosgcba.github.io/guia-datos/guia-metadatos/" target="blank"><strong>Guía para el uso y publicación de metadatos:</strong></a>
                    Recomendaciones para las dependencias del Gobierno de la Ciudad a fin de que instrumenten políticas de apertura de datos públicos.</li>
                    <p></p>
                        <li><a href="https://datosgcba.github.io/bac-open-contracting/" target="blank"><strong>Estándar Open Contracting:</strong></a>Documentación de la publicación del dataset de <a href="https://data.buenosaires.gob.ar/dataset/buenos-aires-compras/" target="blank">Compras y Contrataciones</a> bajo el estándar de <a href="https://www.open-contracting.org/?lang=es" target="blank">Open Contracting Partnership.</a></li>
                </ul>

                <p></p> 
                <h3>Cursos y Talleres</h3>
                    <ul>
                        <li><a href=" https://datosgcba.github.io/curso-datos/" target="blank"><strong>Ciencia de Datos y Políticas Públicas:</strong></a>Curso online introductorio al uso del lenguaje R para el análisis de datos y diseño, implementación y evaluación de políticas públicas</li>
                        <p></p>
                        <li><a href="https://github.com/datosgcba/taller-api-transporte" target="blank"><strong>Monitoreando la ciudad en tiempo real:</strong></a>Taller sobre el uso de la API de transporte dictado en el marco de la Media Party 2019.</li>
                    </ul>

                <p></p>
                <h3>Otras fuentes de datos</h3>
                    <label>Además de BA Data estos son todos los sitios que publican información oficial del Gobierno de la Ciudad Autónoma de Buenos Aires.</label>

                    <ul>
                        <li><a href="https://www.estadisticaciudad.gob.ar/eyc/" target="blank"><strong>Dirección General de Estadística y Censos</strong></a></li>
                        <p></p>
                        <li><a href="https://www.estadisticaciudad.gob.ar/eyc/?page_id=74588" target="blank"><strong>Sistema de Indicadores de Género de la Ciudad de Buenos Aires</strong></a></li>
                        <p></p>
                        <li><a href="https://www.buenosaires.gob.ar/desarrollourbano/transporte/apitransporte" target="blank"><strong>API Transporte</strong></a></li>
                        <p></p>
                        <li><a href="https://www.buenosaires.gob.ar/cultura/data-cultura" target="blank"><strong>Data Cultura</strong></a></li>
                        <p></p>
                        <li><a href="https://www.buenosaires.gob.ar/baobras" target="blank"><strong>BA Obras</strong></a></li>
                        <p></p>
                        <li><a href="https://planoabierto.buenosaires.gob.ar/" target="blank"><strong>Plano Abierto</strong></a></li>
                        <p></p>
                        <li><a href="https://moc.buenosaires.gob.ar/" target="blank"><strong>Mapa de Oportunidades Comerciales</strong></a></li>
                        <p></p>
                        <li><a href="https://mapa.seguridadciudad.gob.ar/" target="blank"><strong>Mapa del Delito</strong></a></li>                    
                        <p></p>
                        <li><a href="http://usig.buenosaires.gob.ar/" target="blank"><strong>Unidad de Sistemas de Información Geográfica</strong></a></li>
                        <p></p>   
                    </ul>


            </div>
        </div>
    </div>

    {% resource 'gobar_js/config/file_upload.js' %}
    {% resource 'gobar_js/config/radio_buttons.js' %}

{% endblock %}

