{% extends h.get_andino_base_page() %}


{% block page %}

    <div class="container-fluid" id="template-config-container">
        <div class="restricted-max-width ">
            <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1 about-template-container" style="padding: 0 60px;">

                <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

                <h1>Sector Privado</h1>
                <p>Los datos son el insumo principal de la economía, y se transformaron en el activo más valioso y estratégico con el que cuentan las organizaciones. Con el surgimiento de las nuevas tecnologías (Inteligencia Artificial, Big Data, Internet de las Cosas), las políticas de datos abiertos son un insumo para promover el desarrollo y crecimiento económico al disponibilizar un recurso fundamental para la toma de decisiones.</p>

                <p>Google, Moovit, Waze, Acindar, Properati, Trip go, Global Blue, Here, Dymaxion Labs y Transit son algunas de las empresas que ya utilizan datos de la ciudad para brindar mejores servicios.</p>  

                <p>¿Perteneces a una empresa que utiliza datos de la Ciudad? Nos interesa conocer tu experiencia a través de una encuesta.</p> 

                <div class="organization-container container-fluid">
                    <div class="restricted-max-width">
                        <div class="organization col-xs-12 col-md-10 col-md-offset-1" style="float:center;padding:0;">
                            <div class="add-organization">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSedQvp5bN-IOlX0xhnXy5QD-BXEGsVdFiYa_CZXwpVi4htgyA/viewform?usp=sf_link" target="blank">ENCUESTA</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% resource 'gobar_js/config/file_upload.js' %}
    {% resource 'gobar_js/config/radio_buttons.js' %}

{% endblock %}

